<div class="row">
  <div class="col-lg-12">
    <h1>Rovers</h1>
    <div class="col-lg-4">
      <select [(ngModel)]="rover" type="text" id="rover" name="rover" class="form-control">
        <option *ngFor="let rover of rovers" [value]="rover">{{rover}}</option>
      </select>
    </div>
    <div class="col-lg-4">
      <select [(ngModel)]="camera" type="text" id="camera" name="camera" class="form-control">
        <option *ngFor="let camera of cameras" [value]="rover">{{camera}}</option>
      </select>
    </div>
    <div class="col-lg-4">
      <input type="text"
            placeholder="Datepicker"
            class="form-control"
            bsDatepicker [(ngModel)]="date">
      <button (click)="onSearch()">Search</button>
    </div>
  </div>
</div>
<div *ngIf="results && results.length" class="row">
  <div class="col-md-8">
    <h1>{{rover}}</h1>
    <p>Total Photos: {{totalPhotos}}</p>
    <p>Launch Date: {{launchDate}}</p>
    <p>Landing Date: {{landingDate}}</p>
  </div>
</div>
